{% extends "base.html" %}
{% block content %}

  <main class="meal_plans-detail">
    <div>
      <a href="{% url 'meal_plan_edit' mealplan.id %}">Edit</a>
      <a href="{% url 'meal_plan_delete' mealplan.id %}">Delete</a>
    </div>
    <h1>{{ mealplan.name }}</h1>
    <h4>{{ mealplan.owner }}</h4>
    <h2>Recipes:</h2>
    {% for recipe in mealplan.recipes.all %}
      <p>
        <a href="{% url 'recipe_detail' recipe.id %}">{{ recipe.name }}</a>
      </p>
    {% endfor %}

  </main>
{% endblock content %}
