{% extends "paginate.html" %}
{% block content %}
  <div>
    <a href="/meal_plans/create/">create</a>
  </div>
  <main class="recipe-grid">
    {% for mealplan in mealplan_list %}
      <div class="recipe-card">
        <h2 class="recipe-card-title">
          <a href="{% url 'meal_plan_detail' mealplan.pk %}">{{ mealplan.name }}</a>
        </h2>
        <p>{% for recipe in mealplan.recipes.all %}
            <li>
            <a href="{% url 'recipe_detail' recipe.pk %}">{{ recipe.name }}</a>
            </li>
        {% endfor %}</p>
      </div>
    {% endfor %}
  </main>
{% endblock content %}
